#Matched as well as possible to pump state enum in vac lib > 1.10
record(mbbi,"$(P)$(R)") {
    field(DTYP,"asynUInt32Digital")
    field(INP,"@asynMask($(PORT) $(OFFSET) $(MASK))")
    field(SCAN,"$(SCAN)")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"STOPPED")
    field(ONST,"STARTING")
    field(TWST,"RUNNING")
    field(THST,"FAULT")
    field(ZRSV,"MAJOR")
    field(ONSV,"MINOR")
    field(TWSV,"NO_ALARM")
    field(THSV,"MAJOR")
}
